.search-input1{
  font-size: 30px;
  padding-top: 10px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  padding-right: 0px;
  margin-bottom: 50px;
}

.search-input2{
  font-size: 30px;
  padding-left: 20px;
  width: 700px;
  border: none;
  border-radius: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.email-text{
  font-family: arial;
  color: grey;
  font-size: 20px;
  margin-bottom: 10px;
}

.email-input{
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin-bottom: 10px;
}

.email-text2{
  font-family: arial;
  color: grey;
  font-size: 20px;
  margin-bottom: 10px;
}

.agree-btn{
  background-color: rgb(69, 69, 187);
  color: white;
  width: 350;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.img{
  width: 70px;
  border-radius: 1000px;
  vertical-align: middle;
}

.tweet-input{
  font-size: 30px;
  border: none;
  vertical-align: middle;
  width: 400px;
}

.tweet-input:active{
  border: none;
}

.tweet-btn{
  background-color: rgb(29, 155, 240);
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 16px;
  color: white;
  border-radius: 18px;
  border: none;
  font-style: bold;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: box-shadow 0.15s;
  vertical-align: middle ;
}